.app {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 33% 67%;   
  overflow-x: hidden;

      @media only screen and (max-width: 1120px) {
        grid-template-columns: 370px 1fr;

    }

      @media only screen and (max-width: 600px) {
        display: block;
        
    }

}