.app {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 33% 67%;   
  overflow-x: hidden;
  min-width: 600px;
  // z-index: 95;
  // background-color: white;

      @media only screen and (max-width: 800px) {
        display: block;
        overflow-x: hidden;
    }

}