.app {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 33% 67%;   
  overflow: hidden;

      @media only screen and (max-width: 600px) {
        // position: relative;
        display: block;
        background-color: green;
        // max-width: 375px;
        // max-height: 800px;
        // height: 100%;
        // overflow: hidden;
    }

}