.background {
    grid-column: 2 / 4;
    grid-row: 1 / 10;
    width: max-content;
    &__pineapple {
        width: auto;
        height: 100%;
        background-size: cover;
    }   
}

@media only screen and (max-width: 600px) {
        .background{
        display: contents;
        position: absolute;
        // width: 375px;
        &__pineapple {
            // width: 100%;
            // height: 100%;
            // background-size: cover;
            // display: none;
        }
    }
}