.background {
    grid-column: 2 / 4;
    grid-row: 1 / 10;
    width: max-content;
    background-size: cover;
    overflow: hidden;

    &__pineapple {
        position: relative;
        width: 100%;
        height: auto;
        top: -200px;
    }   
}

@media only screen and (max-width: 600px) {
    .background {
        display: list-item;
        height: 667px;
        overflow: hidden;
        &__pineapple {
            position: relative;
            display: block;
            max-width:100%; 
            height:auto;
            top: 0;
        }
    }
  }

