.background {
    grid-column: 2 / 4;
    grid-row: 1 / 10;
    width: max-content;
    background-color: yellow;
    &__pineapple {
        position: absolute;
        width: auto;
        height: 757px;
    }   
}

@media only screen and (max-width: 600px) {
        .background{
        display: contents;
        position: fixed;
    }
}